:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  background-color: #f4f7fe; /* Cor de fundo cinza claro */
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block; /* Vital para o seu layout funcionar */
}

/* Garante que todos os elementos respeitam as larguras */
*, *::before, *::after {
  box-sizing: border-box;
}